type adbroot_service,                   service_manager_type;
type strix_hardware_service, system_api_service, system_server_service, service_manager_type;
type strix_health_interface_service, system_api_service, system_server_service, service_manager_type;
type strix_globalactions_service, system_api_service, system_server_service, service_manager_type;
type strix_livedisplay_service, system_api_service, system_server_service, service_manager_type;
type strix_profile_service, system_api_service, system_server_service, service_manager_type;
type strix_trust_service, system_api_service, system_server_service, service_manager_type;
