# HwBinder IPC from client to server
binder_call(hal_strix_health_client, hal_strix_health_server)

hal_attribute_service(hal_strix_health, hal_strix_health_service)
