# HwBinder IPC from client to server
binder_call(hal_strix_powershare_client, hal_strix_powershare_server)

hal_attribute_service(hal_strix_powershare, hal_strix_powershare_service)
