# HwBinder IPC from client to server
binder_call(hal_strix_touch_client, hal_strix_touch_server)

hal_attribute_service(hal_strix_touch, hal_strix_touch_service)
