# HwBinder IPC from client to server
binder_call(hal_strix_livedisplay_client, hal_strix_livedisplay_server)

hal_attribute_service(hal_strix_livedisplay, hal_strix_livedisplay_service)
