type hal_strix_health_service, hal_service_type, service_manager_type;
type hal_strix_livedisplay_service, hal_service_type, service_manager_type;
type hal_strix_powershare_service, hal_service_type, service_manager_type;
type hal_strix_touch_service, hal_service_type, service_manager_type;
